node_modules
package-lock.json
.idea
.idea/*
.env
.DS_Store
.auth/

src/node_modules
src/package-lock.json
firestore-debug.log
ui-debug.log
functions/firestore-debug.log
functions/ui-debug.log
functions/auth/*
functions/.runtimeconfig.json

test/bindings.js
